@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
  display: flex;
  flex-wrap: wrap;
}

.card{
  min-height: 500px;
  height: fit-content;
  
}

.cartItem-container table td{
  border: 1px solid lightgray;
  padding: 15px;
  font-size: 15px;
  font-weight: 500;
  
  
}

.adjust-price{
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  border-bottom: 1px solid lightgray;
}

